@font-face {
  font-family: Desyatiy;
  src: url('static/fonts/Desyatiy.ttf');
}
.container {
  padding: 50px;
  border-radius: 57px;
  background: rgb(255, 255, 255);
}
.h1welcome {
  font-family: Desyatiy;
  margin: 50px;
  color: rgb(255, 179, 247, 210);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 500px;
}
.pwelcome {
  font-family: Desyatiy; 
  font-size: 3ch;
  margin: 50px;
  color: rgb(237, 237, 237);
}
.login {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(137, 155, 173, 255);
  color: rgb(135, 138, 184);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
      
label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
input {
  margin: 10px;
  border: 2px solid rgb(137, 155, 173);
  border-radius: 6px;
  padding: 10px 15px;
  background-color: transparent;
  color: rgb(137, 155, 173);
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  -webkit-appearance: none;
  appearance: none;
}
input:focus {
  border-color: rgb(135, 138, 184);
  outline: none;
}
 
.registerButton {
  background-color: transparent;
  display: block;
  min-width: 210px;
  border: 2px solid transparent;
  border-radius: 6px;
  margin: 10px;
  padding: 9px 15px;
  color: #4dda59;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  transition: background-color 0.2s linear;
}
.registerButton:hover {
  background-color: #f5dcf2;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button {
  display: block;
  min-width: 210px;
  border: 2px solid transparent;
  border-radius: 6px;
  margin: 10px;
  padding: 9px 15px;
  color: #df9bce;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: #bbe4b6;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
      
button:focus-visible {
  border: 2px solid #bbe4b6;
  outline: none;
}
      
button:focus {
  border: 2px solid #bbe4b6;
  outline: none;
}
      
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
      
      